.card-img-top{
    border-radius: 50%;
    object-fit: fill;
}

.card-body{
    text-align: center;
}

.cuadricula{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 1rem;
    justify-content: center;
}

.card{
    margin: 8px;
    cursor: pointer;
}